<html>
<body>
<h1>Results for {{.Author}}</h1>

{{range .Draws}}
<hr>
Date: {{.Date.Format "Mon Jan _2 2006 15:04:05"}} </br>
Drawn {{.Quantity}} numbers from {{.Min}} to {{.Max}}</br>
<ul>
	{{range .Results}}
	<li>{{printf "%d" .}}</li>
	{{end}}
</ul>
</li>
<hr>
{{end}}
</body>
</html>